@import url('https://fonts.googleapis.com/css2?family=Sanchez&family=Yatra+One&display=swap');

*{
  font-family: 'Josefin Sans', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Sanchez', serif;
}

.header{
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-image:linear-gradient(rgba(0, 0, 0, 0.655), rgba(0, 0, 0, 0.677)), url(./assets/Kaneki.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-weight: bolder;
}

nav.nav{
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:0rem 2rem;
}

.search-bar{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
}

input{
  width: 200px;
  padding: .3rem;
  color: black;
}

input:focus{
  outline: none;
}

h1{
  font-family: 'Yatra One', cursive;
  font-size: 2rem;

}

a{
  color: currentColor;
}

.search-text{
  font-size: 1.6rem;
}

.search-results{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 3rem;
}

.card-arena{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 5rem 10rem;
}

.card{
  transition: all ease-in-out 300ms;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}

.upper{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card:hover{
  transform: scale(1.1);
}

.rating{
  display: flex;
  align-items: center;
  gap: .3rem;
}

.other{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  gap: 2rem;
}

.manga-arena{
  display: flex;
  align-items: flex-end;
  gap: 4rem;
  justify-content: space-around;
}

.more-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
}

.head, .sub-head{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ls, .rs{
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.rs{
  text-align: right;
}

footer{
  text-align: center;
  padding: 1rem;
}